*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.zona{
    background-color: black;
    text-align: center;
    height: 60px;
}
h1{
    color: white;
    float: left;
    margin-left: 15px;
}
.item{
    list-style: none;
    float: right;
    text-align: right;
    margin-top: 20px;
    margin-right:35px;
    font-size: 17px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.info{ 
    padding: 100px;
    text-align: center;
    background-image: url(Imagenes/Portada.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 750px;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.productos{
    background-color:bisque;
    align-items: center;
    display: flex;
}
.tabla{
    text-align: center;
    margin: 20px;
    width: 500px;
}
.tabla a{
    color: white;
    text-decoration: none;
}
.tabla:hover{
    transition: 0.5s all;
    transform: scale(1.05);
    cursor: pointer;
 
}
.tabla img{
    width: 400px;
    height: 250px;
}
h4{
    font-size: 50px;
}
.pulsador{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    margin: 10px;
    margin-top: 20px;
}
.nutricion{
    background-color: #514A49;
    color: white;
    align-items: center;
    display: flex;
}
.guias{
    background-color:#2E86C1;
    color: white; 
    align-items: center;
    display: flex;
}
.pie{
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 10px;
}
.pie ul{
    padding: 25px;
    border-left: 1px solid black;
}
h5{
    font-size: 30px;
}
.legal{
    font-size: 25px;
}
.archivos{
    color: black;
    margin: 10px;
}
#buscar{
    font-size: 18px;
    height: 25px;
    border-radius: 4px 4px 4px ;
}
#unirse{
    font-size: 18px;
    width: 100px;
    height: 30px;
    border-radius:32px;
    border:2px solid #ccd1d1;
    transition: 0.5s;
}
.redes{
    float: left;
}
.social{    
    margin: 10px;
}
.social img{
    width: 30px;
}